.cardSideMenu{
    position: absolute;
    top: -30px;
    left: 65px;
    z-index: 1000000;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    z-index: 1;
    background-color: #fff;
}
.cardSideMenu_options{
    padding: 10px;
    border-radius: 10px;
}
.cardSideMenu_options_delete{
    padding: 10px;
    border-radius: 10px;
    color: #EF5DA8;
}
.cardSideMenu_options_delete:hover{
    background-color: #EF5DA8;
    color: #ffffff;
}
.cardSideMenu_options:hover {
    background-color: #00B0FF;
    color: #ffffff;
}
.cardSideMenu_options:hover svg{
    fill: #ffffff;
}
.cardSideMenu_options_delete:hover svg{
    fill: #ffffff;
}
.cardSideMenu_options > p{
    margin-left: 5px;
}
.cardSideMenu_options_delete >p{
    margin-left: 5px;
}
