.addUserPage_container{
    width: 350px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
  }
  .addUserPage_container_clsBtn:hover{
    fill: #ffffff;
  }
  .addUserPage_container_clsBtn:hover circle{
    fill: #EF5DA8;
  }
  .addUser_userID_part{
    margin: 20px 0px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #595959;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* this part is por the animated input fields-->start*/
  .editUserName_text-field {
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
  }
  .editUserName_text-field >input {
    width: 100%;
    display: inline-block;
    border: thin solid #fafafa;
    color: #444;
    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }
  .editUserName_text-field >input:focus {
    background-color: #fff;
  }
  .editUserName_text-field >label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
  }
  .editUserName_text-field >input:focus ~ label,
  .editUserName_text-field >input:valid ~ label {
    top: -10px;
    left: 15px;
    font-size: small;
    color: #0091ea;
    background-color: #fff;
    padding: 0 5px 0 5px;
  }
  /* this part is por the animated input fields--> end*/
  
  
  .editUserNamePage_container_BtnField_cancelBtn{
    color: #333;
    font-weight: bolder;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  .editUserNamePage_container_BtnField_cancelBtn:hover{
    outline: 1.5px solid #EF5DA8;
  }
  .editUserNamePage_container_BtnField_creatBtn{
    margin-left: 35px;
    color: #fff;
    background-color: #00B0FF;
    font-weight: bolder;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  .editUserNamePage_container_BtnField_creatBtn:hover{
    background-color: #0091EA;
    color: #fff;
  
  }
  input:focus{
    outline-color: #0091EA;
  }