.removeUserPage_container {
  /* padding: 10px; */
  width: 350px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}
.removeUserPage_tile {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 15px;
}
.removeUserPage_tile > p {
  font-size: 18px;
  font-weight: bolder;
}
.removeUserPage_body {
  padding: 10px;
}
.removeUserPage_body_btnFeilds {
  padding-bottom: 15px;
  margin-top: 15px;
}
.removeUserPage_body_btnFeilds_cancelbtn {
  color: #333;
  font-weight: bolder;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.removeUserPage_body_btnFeilds_cancelbtn:hover {
  outline: 1.5px solid #ef5da8;
}
.removeUserPage_body_btnFeilds_removebtn {
  margin-left: 35px;
  color: #fff;
  background-color: #ef5da8;
  font-weight: bolder;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.removeUserPage_body_btnFeilds_removebtn:hover {
  background-color: #d94792;
}
