.usermgt_potioner{
    padding: 10px;
}
.userMgt_container{
    width: 1000px;
    height: 570px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 20px;
}
.userMgt_container_nav{
    margin: 20px 10px;
}
.userMgt_container_nav_pTag > p{
    font-size: 18px;
    color: #333;
    padding-left: 10px;
}
.userMgt_container_nav_searchber > input{
    border: none;
    padding: 8px;
    width: 270px;
    border-radius: 0px 10px 10px 0px;
    background-color: #f5f5f5;
}
.userMgt_container_nav_searchber > svg{
    padding: 8px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f5f5f5;
}
.userMgt_container_nav_addPart{
    background-color: #fff;
    border: 2px solid #f5f5f5;
    padding: 6px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: #0091EA;
}
.userMgt_container_nav_addPart:hover{
    background-color: #0091EA;
    color: #fff;
}
.userMgt_container_nav_addPart:hover svg{
    fill: #fff;
}
.userMgt_container_nav_addPart >svg{
    margin-right: 8px;
}
.userMgt_container_body{
    padding: 10px;
}
.userMgt_container_cardContainer{
    flex-wrap: wrap;
}