
.adminpage .sideNav{
    width: 260px;
    min-height: 100vh;
    background-color: #00B0FF;
}
.sideNav{
    flex-direction: column;
}
.sideNav_logo > svg{
    margin: 20px 0px 20px 20px;
}
.sideNav_adminPanel{
    color: #ffffff;
    padding: 12px 0px 12px 20px;
    background-color: #0091EA;
}
.sideNav_adminPanel > svg{
    margin-right: 8px;
}
.menu{
    padding: 8px;
}
.menu_row{
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}
.menu_row_2{
    justify-content: space-between;
    width: 100%;
}
.menu_row_2 div > p{
    color: #ffffff;
}
.secondImg{
    right: 20px;
}
.menu_row > svg{
    margin-right: 8px;
}
.menu_row_2 div > svg{
    margin-right: 8px;
}
.firstimg{
    margin-left: 2px;
}
.menu_row:hover{
    background-color: #0091EA;
}
.submenu_margin{
    margin-left: 25px;
}
.main_body{
    flex: 1;
}
.top_nav{
    padding: 10px 0px;
    background-color: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.top_nav_user{
    flex: 1;
    text-align: center;
    padding-left: 85px;
    font-size: 18px;
}
.icons_section{
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
}
.icons_section_firstSvg{
    padding-left: 8px;
}
.icons_section > svg{
    margin-right: 8px;
}
.icons_section > p{
    margin-right: 8px;
}
.icons_section__Tag{
    color: #E5E5E5;
}
.topNav_subMenu{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 8px;
    z-index: 100;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.topNav_subMenu_option{
    padding: 8px;
    border-radius: 10px;
}
.topNav_subMenu_option_forLogout{
    padding: 8px;
    border-radius: 10px;
}
.topNav_subMenu_option > svg{
    margin-right: 8px;
}
.topNav_subMenu_option_forLogout > svg{
    margin-right: 8px;
}
.topNav_subMenu_option_forLogout{
    color: #EF5DA8;
}
.topNav_subMenu_option:hover{
    background-color: #00B0FF;
    color: #ffffff;
}
.topNav_subMenu_option:hover svg{
    fill: #fff;
}
.topNav_subMenu_option_forLogout:hover {
    background-color: #EF5DA8;
    color: #ffffff;
}
.topNav_subMenu_option_forLogout:hover svg{
    fill: #fff;
}