.drag_drop_container {
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
}
.drag_drop_container > p {
  font-size: 18px;
  padding: 15px 0px;
}
.drag_drop_area {
  flex-direction: column;
  width: 660px;
  height: 350px;
  margin-bottom: 10px;
  background-color: #f5f5f7;
  border: 3px dashed #d4d4d4;
  border-radius: 20px;
  color: #333;
}
.drag_drop_area > svg {
  margin-bottom: 15px;
}
.conditional_drag_drop_area > p {
  font-size: 18px;
  
}
.drag_drop_area > h3 {
  margin: 15px 0px;
}
.uploadImageSection {
  background-color: #fff;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
}
.uploadImageSection > svg {
  margin-right: 5px;
}
.conditional_drag_drop_area{
    flex-direction: column;
}
.conditional_drag_drop_area >h3{
    margin: 15px 0px;
}
.dragDrop_warning{
    font-size: 18px;
    color: tomato;
}
.borderColorWrong{
    border-color: tomato;
}
.borderColorRight{
    border-color: greenyellow;
}
.ImageContainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Image{
  display: flex;
  justify-content: center;
  border: 2px;
  margin: 0px 8px;
  width: 640px;
  height: 330px;
  padding: 4px;
}
.ImageInner{
  display: flex;
  min-height: 0px;
  overflow: hidden;
}
.img{
  display: block;
  width: auto;
  height: 100%;
}