/* .superAdminPage_Positioner{
    position: absolute;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
} */
.superAdminPage_Positioner {
  padding: 10px;
}
.superAdmin_partContainer {
  padding: 10px;
  flex-direction: column;
  width: 1000px;
  height: 640px;
  background-color: #ffffff;
  border-radius: 20px;
  /* box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05); */
}
.superAdmin_partContainer_btnPart {
  padding: 10px;
}
.superAdmin_partContainer_btnPart > button {
  padding: 20px 30px;
  margin-right: 45px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #00b0ff;
  cursor: pointer;
}
.baseTable_part {
  overflow: auto;
  padding: 10px;
  margin: 10px;
  width: 800px;
  min-height: 250px;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.baseTable_part_title {
  background-color: #ffffff;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}
.baseTable_part_details {
  background-color: #ffffff;
  padding: 8px;
  margin: 5px 0px;
  border-radius: 10px;
  font-size: 18px;
}
.baseTable_part_details .pDiv > p {
  font-size: 18px;
  padding-left: 10px;
}
.baseTable_part_details_btn {
  margin-right: 10px;
}
.baseTable_part_details_btn > button {
  /* margin-right: 10px; */
  background-color: #00b0ff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.baseTable_part_details_btn > p {
  margin: 0px 10px;
  font-size: 25px;
}
.baseTable_part_details_btn button > svg {
  margin: 8px;
}
.wingTable_part {
  overflow: auto;
  margin: 10px;
  width: 800px;
  padding: 8px;
  border-radius: 20px;
  min-height: 250px;
  background-color: #f5f5f5;
}
