a {
  text-decoration: none;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color : #f5f5f5;
}
.flex{
  display: flex;
}
.justify_center{
  justify-content: center;
}
.justify_spc_btn{
  justify-content: space-between;
}
.justify_spc_around{
  justify-content: space-around;
}
.align_center{
  align-items: center;
}